body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#dealer-cards img,
#player-cards img {
  height: 12%;
  width: 12%;
  margin: 10px;
}

#hit,
#stay,
#next-game {
  font-weight: bold;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

#notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
